.header {
  nav {
    padding-top: 40px;
    padding-bottom: 22px;
    @include min-width(medium) {
      padding-top: 60px;
      padding-bottom: 80px;
    }
  }
  &__logo {
    width: 121px;
    height: 33px;
  }
  &__links--desktop {
    flex-grow: 1;
    margin-left: 48px;
    li {
      display: inline-block;
    }
    li:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__toggle {
    position: absolute;
    top: 47px;
    right: 24px;
    span {
      position: absolute;
      right: 0;
      display: block;
      height: 4px;
      width: 26px;
      background-color: $neutral-gray;
      transition: all 0.3s ease-in-out;
    }
    span:first-child {
      top: -8px;
    }
    span:nth-child(2),
    span:nth-child(3) {
      top: 0px;
    }
    span:last-child {
      top: 8px;
    }

    &.open {
      > span:first-child {
        top: 0;
        opacity: 0;
      }

      > span:nth-child(2) {
        transform: rotate(45deg);
      }

      > span:nth-child(3) {
        transform: rotate(-45deg);
      }

      > span:last-child {
        top: 0;
        opacity: 0;
      }
    }
  }
  &__overlay {
    display: none;
    position: absolute;
    top: 98px;
    bottom: 0;
    flex-direction: column;
    background-color: $white;
    text-align: center;

    &--show {
      display: block;
    }
  }
  &__links--mobile {
    padding-top: 44px;
    padding-bottom: 40px;
    background-color: $primary-dark;
    border-radius: 12px;
    color: $white;
    li {
      padding-bottom: 36px;
    }
    ul:last-child li:first-child {
      padding-top: 36px;
      padding-bottom: 26px;
      border-top: 1px solid $neutral-grayish-violet;
    }
  }
}
