.hero {
  flex-direction: column;
  padding-bottom: 168px;
  @include min-width(medium) {
    flex-direction: row-reverse;
    align-items: center;
  }
  &__img {
    position: relative;
    width: 154%;
    height: auto;
    @include min-width(medium) {
      left: 40px;
      width: 40%;
      transform: scale(1.7);
    }
    @include min-width(large) {
      left: 140px;
    }
  }
  &__content {
    text-align: center;
    @include min-width(medium) {
      width: 60%;
      padding-right: 94px;
      text-align: left;
    }
    &__heading {
      padding-top: 46px;
      padding-bottom: 30px;
      @include min-width(medium) {
        padding-bottom: 0;
        font-size: 4rem;
      }
      @include min-width(large) {
        font-size: 7.6rem;
      }
    }
    &__text {
      @include min-width(large) {
        font-size: 2.2rem;
      }
    }
    &__btn {
      margin-top: 38px;
      font-size: $font-large;
      @include min-width(large) {
        font-size: 2.2rem;
      }
    }
  }
}
