// Media queries - Min-Width (480px, 768px, 1024px, 1500px)
$min-width-breakpoints: (
  "small": "480px",
  "medium": "768px",
  "large": "1024px",
  "xlarge": "1500px",
);

@mixin min-width($size) {
  @media (min-width: map-get($min-width-breakpoints, $size)) {
    @content;
  }
}

// Media queries - Max-Width (479px, 767px, 1023px, 1499px)
$max-width-breakpoints: (
  "small": "479px",
  "medium": "767px",
  "large": "1023px",
  "xlarge": "1499px",
);

@mixin max-width($size) {
  @media (max-width: map-get($max-width-breakpoints, $size)) {
    @content;
  }
}

@mixin bgImage($image) {
  background-image: url($image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

@mixin positionCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
