.shorten {
  position: relative;
  background-color: $bg;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 86px;
    background-color: $white;
  }
  &__wrapper {
    position: relative;
    z-index: 1;
  }
  @include min-width(medium) {
    margin-top: 68px;
  }
  &__form {
    flex-direction: column;
    padding: 24px;
    border-radius: 10px;
    background-color: $primary-dark;
    background-image: url("/images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 80px -30px;
    @include min-width(medium) {
      position: relative;
      flex-direction: row;
      align-items: center;
      padding: 58px;
      border-radius: 16px;
      background-image: url("/images/bg-shorten-desktop.svg");
      background-size: 100% 100%;
      background-position: top left;
    }
    &__text {
      @include min-width(medium) {
        width: 80%;
        padding-right: 24px;
      }
    }
    &__input {
      width: 100%;
      padding: 16px;
      border-radius: 4px;
      font-size: $font-medium;
      &::placeholder {
        font-family: $font-family-base;
        font-size: $font-medium;
        color: $neutral-grayish-violet;
      }
    }
    &__em {
      display: block;
      margin: 6px 0;
      font-size: $font-small;
      color: $secondary-main;
      @include min-width(medium) {
        position: absolute;
        left: 0;
        right: 0;
        margin: 6px 58px;
      }
    }
    &__btn {
      width: 100%;
      margin-top: 16px;
      padding: 16px 0;
      border-radius: 4px;
      font-size: $font-medium;
      @include min-width(medium) {
        width: 20%;
        margin-top: 0;
      }
    }
  }
  &__result {
    position: relative;
    flex-direction: column;
    margin-top: 24px;
    padding: 20px;
    background-color: $white;
    border-radius: 8px;
    @include min-width(medium) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px 16px 32px;
    }
    p {
      padding-bottom: 20px;
      word-wrap: break-word;
      @include min-width(medium) {
        padding-bottom: 0;
      }
    }
    > p {
      color: $neutral-dark-blue;
      @include min-width(medium) {
        width: 50%;
        padding-right: 26px;
      }
      @include min-width(large) {
        width: 60%;
        padding-right: 26px;
      }
    }
    &__copy {
      flex-direction: column;
      @include min-width(medium) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      &::before {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        border-top: 1px solid $neutral-gray;
        @include min-width(medium) {
          content: none;
        }
      }
      > p {
        padding-top: 20px;
        color: $primary-main;
        @include min-width(medium) {
          padding-top: 0;
          padding-right: 26px;
        }
      }
      button {
        border-radius: 8px;
        &.btn--copied {
          background-color: $primary-dark;
        }
        @include min-width(medium) {
          width: 104px;
          padding: 12px 0 10px 0;
        }
      }
    }
  }
  .loading-spinner {
    margin-top: 24px;
  }
}
