// Colors
$primary-main: hsl(180, 66%, 49%); /* Cyan */
$primary-dark: hsl(257, 27%, 26%); /* Dark Violet */
$secondary-main: hsl(0, 87%, 67%); /* Red */
$neutral-gray: hsl(0, 0%, 75%); /* Gray */
$neutral-grayish-violet: hsl(257, 7%, 63%); /* Grayish Violet */
$neutral-dark-blue: hsl(255, 11%, 22%); /* Very Dark Blue */
$neutral-dark-violet: hsl(260, 8%, 14%); /* Very Dark Violet */
$white: white;

// Font size
$font-small: 1.4rem;
$font-medium: 1.8rem;
$font-large: 2rem;

// Font family
$font-family-base: "Poppins", sans-serif;

// Font weight
$font-weight-normal: 500;
$font-weight-bold: 700;
